html,body,*{
    font-family: 'arial',Arial,sans-serif,Helvetica;
    font-size: 12.5px;

}
@font-face {
    font-family: 'DINPro-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/DINPro-Bold_13934.woff') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype'); 
}
body{
    /*background-image: url(../images/videovigilancia.jpg);*/
    background-color: white;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    color: white;
    background-size: cover;
}
/*************** Label Porcentaje ************/
.label_porcent{
  border-radius: 50%;
  line-height: 130px;
  text-align: center;
  margin-top: 15%;
  margin-left: 15%;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  color: red;

}

.label_porcent_modal{
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  margin-top: 40%;
  margin-left: 50%;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  color: red;
}

/*************** Cabecera ************/
.cabecera{
  /*background-image: url("../images/banner.png");
    background-color: #f5f5f5;*/
    background-color: white;
    opacity: 1;
    /*border-bottom: 3px solid #ddddda;*/
    color: #202327;
    width: 100%;
    /*height: 60px;*/
    height: 120px;
    padding-left: 0px;
    padding-right: 0px;
}
.cabecera1{
  height: 60px;
  border-bottom: 3px solid #ddddda;
}
.cabecera img{
  margin-top: 10px;
  margin-bottom: 10px;
    /*margin-left: 15px;

    width: 105px;*/
    width: 150px;
    height: 30px;
}
.cabecera div{
    vertical-align: top;
}
.cabecera .row{
    margin-left: 0;
    margin-right: 0;
}
.cabecera div .dropdown{
    margin-top: 0em;
}
.cabecera div .dropdown a{
    color: black;
    font-size: 1.16em;
}
/*****/
.cabecera div .dropdown .dropdown-menu{

    position: absolute;
    transform: translate3d(-32px, 30px, 10px);
    left: 30%;
    will-change: transform;
    border-radius: 10px;

}
.cabecera .logo-claro img{

    height: 45px;
    width: 250px;
}
.cabecera .logo-estado img{

    height: 55px;
    width: 170px;

}
/***** Contenido *******/
.contenido{
  overflow: auto;
  /*  padding-top: 0.6em;*/

}
.contenido::-webkit-scrollbar{
  width: 0px;
}
.boton2{
    width: 200px;
    height: 30px;
    /*border-radius: 16px;*/
    font-weight: bold;
    color: #fff;
    background: #da291c;
    border: none;
   /* margin-top: 2%;*/
}
.boton1{
    width: 200px;
    height: 30px;
    /*border-radius: 16px;*/
    font-weight: bold;
    color: #fff;
    background: #a5a7a8;
    border: none;
   /* margin-top: 2%;*/
}


/*++++ Estilos para los modales en general++++++***/
.modal-open .modal{
    overflow-y: hidden;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;
    background-image: url(../images/imagen10.png);
}
.modal>.modal-dialog{

}
.modal>.modal-dialog>.modal-content{

  width: 100%;
  background: transparent;
  border: none;
  box-shadow: none;

}
.modal>.modal-dialog>.modal-content>.modal-header >div> label{
    /*background-color: #919191;*/
    font-size: 36px;
     color: #da291c;
    font-family: arial;
    padding: 5px 15px;
    font-weight: normal;
  /*  border-bottom: 4px solid #e2231a;*/
}
.modal>.modal-dialog>.modal-content>.modal-header>.close{
    text-shadow: none;
    opacity: .3;
    font-weight: normal;
}

.modal>.modal-dialog>.modal-content>.modal-body{
  background-color: transparent;
  /*  color: #f58220;*/
}
.modal>.modal-dialog>.modal-content>.modal-footer{
    background-color: transparent;
    /*color: #f58220;*/
}
.modal>.modal-dialog>.modal-content>.modal-footer>.btn{
    padding: 2px 25px;
    border-radius: 0px;
}
.modal>.modal-dialog>.modal-content>.modal-footer>.btn-danger{
    background-color: #e2231a;
}
.modal>.modal-dialog>.modal-content>.modal-footer>span{
  font-size: 16px;
  font-weight: normal;
  color: black;
  opacity: .8;
  text-shadow: none;
  cursor: pointer;
}

/**** Modal de Mensajes ******/
#modalMensajes>.modal-dialog>.modal-content>.modal-body{
    text-align: center;
    color: #fff;
}
#modalMensajes>.modal-dialog>.modal-content>.modal-body span{
    font-size: 6em;
}

#page {
  display: grid;
  width: 100%;
  height: 100vh;

    grid-template-areas: "head "
                          "main"
                        ;

   /*grid-template-rows: 60px calc(100vh - 60px);*/
   grid-template-rows: 120px calc(100vh - 120px);

    grid-template-columns: 100%;
  }
#page > header {
  grid-area: head ;

}
#page > main {
  grid-area: main;

 overflow: auto;

}
